@page "/products"
@inherits CommerceWebApp.Client.Pages.Products.ProductsBase
@using CommerceWebApp.Shared

@if (CurrentProduct != null)
{
    <CommerceWebApp.Client.Shared.ProductComponent.Product/>
}

else
{
    <input type="text" placeholder="Product Name" @oninput=SetProductName />
    <br>
    <label>In-stock only</label>
    <input type="checkbox" @onclick=ToggleInStockOnly style="vertical-align: middle" />
    <pre></pre>

    <table>
        <thead>
            <tr>
                <th class="table-data">Name</th>
                <th class="table-data">Price</th>
                <th class="table-data">Stock</th>
                <th class="table-data"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (Product product in GetProducts())
            {
                <tr>
                    <td>@(product.Name)</td>
                    <td>@(product.Price)</td>
                    <td>@(product.Stock)</td>
                    <td>
                        <button @onclick=@(() => ViewProduct(product.Id))>View</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br>
}