* {
    font-size: small;
    font-family: Arial;
}

table, thead, td, th {
    border: 2px solid black;
    border-collapse: collapse; 
}

th {
    padding: 10px;
}

td {
    padding: 0px;
}

thead {
    background-color: lightgrey;
}